@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --primary :198 93% 88%;
      --primary-foreground :240, 67%, 8%;
      --primary-background :0, 0%, 100%;

      --secondary : 195, 86%, 64%;
      --background: 0, 0%, 100%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }